{form form}
    <div class="form-group">
        {label name}
        {input name class => form-control}
    </div>
    <div class="form-group">
        {label artist_id}
        {input artist_id class => form-control}
    </div>
    <div class="form-group">
        {input submit class => "btn btn-primary"}
    </div>
{/form}