<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{$basePath}/css/styles.css"/>

	<title>Music Collection</title>
</head>

<body>
	<div class="container">
		<div n:foreach="$flashes as $flash" n:class="alert, $flash->type">{$flash->message}</div>

		<div class="row navigation">
			<div class="col-md-12 text-right">
				{if $userLoggedIn}
					{if !$presenter->isLinkCurrent("Homepage:Default")}
						<a class="btn btn-warning" n:href="Homepage:Default">Back to Home</a>
					{/if}
					<a class="btn btn-danger" n:href="logout!">Logout</a>
				{/if}
			</div>
		</div>

		{include content}

		{block scripts}
			<script src="{$basePath}/js/netteForms.js"></script>
			<script src="{$basePath}/js/jquery.min.js"></script>
			<script src="{$basePath}/js/popper.min.js"></script>
			<script src="{$basePath}/js/bootstrap.min.js"></script>
		{/block}
	</div>
</body>
</html>
