{block content}
    <div class="row">
        <div class="col-md-6">
            <h2>All Artists</h2>
            <hr/>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add new Artist
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {control artistForm}
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                {foreach $artists as $artist}
                    <tr>
                        <td>{$artist->id}</td>
                        <td>{$artist->name}</td>
                        <td>{$artist->created_at}</td>
                        <td>
                            <a n:href="Artist:Show $artist->id">Detail</a>
                            <a n:href="Artist:Edit $artist->id">Edit</a>
                            <a n:href="Artist:Delete 'id' => $artist->id">Delete</a>
                        </td>
                    </tr>
                {/foreach}
            </table>
        </div>
        <div class="col-md-6">
            <h2>All Albums</h2>
            <hr/>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add new Album
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {control albumForm}
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                {foreach $albums as $album}
                    <tr>
                        <td>{$album->id}</td>
                        <td>{$album->name}</td>
                        <td>{$album->artist->name}</td>
                        <td>{$album->created_at}</td>
                        <td>
                            <a n:href="Album:Show $album->id">Detail</a>
                            <a n:href="Album:Edit $album->id">Edit</a>
                            <a n:href="Album:Delete 'id' => $album->id, 'redirect' => 'Homepage:Default'">Delete</a>
                        </td>
                    </tr>
                {/foreach}
            </table>
        </div>
    </div>
{/block}