{form form class => login-form}
    <div class="form-group">
        {label username}
        {input username class => form-control}
    </div>
    <div class="form-group">
        {label password}
        {input password class => form-control}
    </div>
    <div class="form-group">
        {label submit}
        {input submit class => "btn btn-success"}
    </div>
{/form}