{block content}
    <div class="row">
        <div class="col-md-4">
            <h2>Artist detail</h2>
            <hr/>
            <p><b>ID:</b> {$artist->id}</p>
            <p><b>Name:</b> {$artist->name}</p>
            <p><b>Created:</b> {$artist->created_at}</p>
            <hr/>
        </div>
        <div class="col-md-8">
            <h2>Assigned Albums</h2>
            <hr/>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add new Album
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {control albumForm:forArtist $artist}
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                {foreach $albums as $album}
                    <tr>
                        <td>{$album->id}</td>
                        <td>{$album->name}</td>
                        <td>{$album->artist->name}</td>
                        <td>{$album->created_at}</td>
                        <td>
                            <a n:href="Album:Show $album->id">Detail</a>
                            <a n:href="Album:Edit $album->id">Edit</a>
                            <a n:href="Album:Delete 'id' => $album->id, 'artist_id' => $artist->id">Delete</a>
                        </td>
                    </tr>
                {/foreach}
            </table>
        </div>
    </div>
{/block}