{block content}
    <div class="row">
        <div class="col-md-4">
            <h2>Album detail</h2>
        <hr/>
            <p><b>ID:</b> {$album->id}</p>
            <p><b>Name:</b> {$album->name}</p>
            <p><b>Artist:</b> {$album->artist->name}</p>
{/block}