{block content}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Music collection - demonstration</h1>
        </div>
    </div>
    <hr/>
    <br/>
    <div class="row">
        <div class="col-md-12">
            {control loginForm}
        </div>
    </div>
{/block}